.home {
  /* display: flex; */
  background: url('../image/1726.jpg') no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}

.home .jumbotron {
  /* height: 755px; */
  /* width: 100%; */
  /* padding: 1rem; */
  padding-top: 15rem;
  /* box-shadow: inset 0 0 2000px rgba(39, 34, 34, 0.9); */
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
span {
  color: #007acc;
}
#icon {
  margin: 5px;
}
.icon-btn1 {
  height: 60px;
  /* width: 150px; */
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.icon-3 {
  height: 50px;
  width: 50px;
  float: left;
  background: #0077b5;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  display: block;
}
.icon-3:hover {
  background: white;
  color: #0077b5;
  border: 2px solid #0077b5;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 5px 5px 5px -5px lightblue;
}
.icon-4 {
  height: 50px;
  width: 50px;
  float: left;
  background: rgb(77, 88, 207);
  background: linear-gradient(90deg, rgba(77, 88, 207, 1) 0%, rgba(208, 40, 115, 1) 45%, rgba(247, 212, 114, 1) 100%);
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  display: block;
}
.icon-4:hover {
  background: white;
  color: #b93183;
  border: 2px solid purple;
  transition: 0.5s;
  box-shadow: 5px 5px 5px -5px lightblue;
}
.icon-6 {
  height: 50px;
  width: 50px;
  float: left;
  background: #b92b27;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  display: block;
}
.icon-6:hover {
  background: white;
  color: #b92b27;
  border: 2px solid #b92b27;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 5px 5px 5px -5px lightblue;
}
.icon-7 {
  height: 50px;
  width: 50px;
  float: left;
  background: #000000;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  line-height: 48px;
  display: block;
}
.icon-7:hover {
  background: white;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 50%;
  transition: 0.6s;
  box-shadow: 5px 5px 5px -5px lightblue;
}
@media (max-width: 947px) {
  h1 {
    font-size: 60px;
  }
}
@media (max-width: 690px) {
  h1 {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 37px;
  }
}
